/* 
* FullPage control CSS 
*/
/* Override position af the map div */
div.olFullPageMap
{	bottom: 0 !important;
	height: auto !important;
	left: 0 !important;
	position: fixed !important;
	right: 0 !important;
	top: 0 !important;
	width: auto !important;
	border: 0 !important;
}

/* Control button */
.olControlFullPage
{	background: none;
	border: 2px solid #fff;
	border: 2px solid rgba(255,255,255,0.5);
	border-radius: 3px;
	height: 18px;
	right: 3px;
	top: 3px;
	width: 22px;
}
.olControlFullPageButtonItemActive,
.olControlFullPageButtonItemInactive
{	background-color: #FFFFFF;
	border: 2px solid #003C88;
	border-width:7px 6px 2px 2px;
	bottom: 0;
	content: "";
	height: 9px;
	left: 0;
	position: absolute;
	width: 14px;
	cursor: pointer;
	opacity:0.5;
	filter : alpha(opacity=50);
}
.olControlFullPageButtonItemActive:hover,
.olControlFullPageButtonItemInactive:hover
{	opacity:0.7;
	filter : alpha(opacity=70);
}

/* Button when fullpage (invert color) */
div.olFullPageMap .olControlFullPage
{	border-color:#003C88;
	border-color:rgba(0, 60, 136, 0.5);
}
div.olFullPageMap .olControlFullPageButtonItemActive,
div.olFullPageMap .olControlFullPageButtonItemInactive
{	border-color:#fff;
	background-color:#003C88;
}
