.olControlLayerButtonBar
{	position:absolute;
	top:0;
	right:0;
	font-weight:bold;
	font-family:"Trebuchet MS",Helvetica,sans-serif;
}
.olControlLayerButtonBar div
{	display:inline-block;
	background:#369;
	color:#fff;
	padding: 0 0.5em;
	margin : 0 8px 0 0;
	cursor : pointer;
	box-shadow: 0 0 8px 3px #FFFFFF;
}
.olControlLayerButtonBar div.select
{	background-color:#963;
}

